[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-git-revision-date-plugin = "*"
jinja2 = "~=3.0.3"

[dev-packages]

[requires]
python_version = "3.9"
