name: ci 
on:
  push:
    branches:
      - main
      - develop
    paths:
      - '.github/workflows/ci.yml'
      - 'docs/*'
      - 'mkdocs.yml'
      - 'Makefile'
      - 'Pipfile.lock'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install mkdocs dependencies
      run: make dev

    - name: Deploy to github pages
      run: make deploy
