name: ci 
on:
  push:
    branches:
      - main
      - develop
    paths:
      - '.github/workflows/ci.yml'
      - 'docs/*'
      - 'mkdocs.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.10

    - name: Install latest pip
      run: pip install -U pip

    - name: Install mkdocs dependencies
      run: pip install -r requirements.txt

    - name: Deploy to github pages
      run: mkdocs gh-deploy --force
