name: aws-lambda-publish-shared-event
on:
  push:
    branches:
      - main
      - develop
    paths:
      - '.github/workflows/python.yml'
      - 'event-schema/*'
      - 'docs/events/*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tools
      run: pip3 install -U wheel pip poetry

    - name: Install dependencies
      working-directory: event-schema
      run: make dev

    - name: Formatting and Linting
      working-directory: event-schema
      run: make lint

    - name: Static type checking
      working-directory: event-schema
      run: make mypy

    - name: Run test suite
      working-directory: event-schema
      run: make test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
          file: ./event-schema/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
